/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111111;
    color: #ffffff;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}


/* =========================
   VARIABLES
========================= */

:root {
    --black: #111111;
    --dark: #171717;
    --pink: #ff4f87;
    --light-pink: #ff8eae;
    --white: #ffffff;
    --gray: #a6a6a6;
    --border: #303030;
}


/* =========================
   HEADER
========================= */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(17, 17, 17, 0.92);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border);
}

.navbar {
    width: min(1180px, 90%);
    margin: auto;

    min-height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    letter-spacing: 0.5px;
    color: var(--white);
    font-family: "Segoe Script", "Bradley Hand", "Snell Roundhand", cursive;
    transform: skew(-8deg);
}

.logo span {
    color: var(--pink);
}

.nav-links {
    list-style: none;

    display: flex;
    gap: 35px;
}

.nav-links a {
    color: #dddddd;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--pink);
}

.nav-btn {
    padding: 11px 20px;
    border: 1px solid var(--pink);
    border-radius: 30px;

    color: var(--pink);
    font-size: 14px;

    transition: 0.3s;
}

.nav-btn:hover {
    background: var(--pink);
    color: white;
}


/* =========================
   GENERAL
========================= */

.section {
    width: min(1180px, 90%);
    margin: auto;
    padding: 110px 0;
}

.section-heading {
    margin-bottom: 55px;
}

.section-heading p {
    color: var(--pink);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 12px;
}

.section-heading h2 {
    max-width: 650px;
    font-size: clamp(32px, 5vw, 55px);
    line-height: 1.1;
}

.section-heading h2 span {
    color: var(--pink);
}


/* =========================
   HERO
========================= */

.hero {
    width: min(1180px, 90%);
    min-height: 100vh;
    margin: auto;
    padding-top: 130px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.hero-content {
    max-width: 650px;
}

.small-text {
    color: var(--pink);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: clamp(40px, 6vw, 65px);
    line-height: 0.98;
    letter-spacing: -3px;
}
.hero h1 span {
    color: var(--pink);
    letter-spacing: 0;
}


.hero h2 {
    font-size: clamp(24px, 5vw, 29px);
    margin-top: 25px;
}

.hero-description {
    color: var(--gray);
    max-width: 550px;
    margin: 20px 0 30px;
    font-size: 17px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.primary-btn,
.secondary-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 14px 23px;

    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;

    transition: 0.3s;
}

.primary-btn {
    background: var(--pink);
    color: white;
}

.primary-btn:hover {
    transform: translateY(-3px);
    background: var(--light-pink);
}

.secondary-btn {
    border: 1px solid #555;
}

.secondary-btn:hover {
    border-color: var(--pink);
    color: var(--pink);
}

.social-links {
    display: flex;
    gap: 12px;
    margin-top: 30px;
}

.social-links a {
    width: 42px;
    height: 42px;

    display: grid;
    place-items: center;

    border: 1px solid #444;
    border-radius: 50%;

    color: #cccccc;

    transition: 0.3s;
}

.social-links a:hover {
    border-color: var(--pink);
    color: var(--pink);
    transform: translateY(-3px);
}


/* =========================
   HERO IMAGE
========================= */

.hero-image {
    position: relative;
    width: 390px;
    flex-shrink: 0;
}

.image-circle {
    width: 360px;
    height: 360px;

    margin: auto;

    border-radius: 50%;
    overflow: hidden;

    border: 7px solid var(--pink);

    background: #222;
}

.image-circle img {
    height: 100%;
    object-fit: cover;
}

.floating-card {
    position: absolute;
    right: -15px;
    bottom: 30px;

    padding: 13px 18px;

    background: white;
    color: #111;

    border-radius: 10px;

    font-size: 13px;
    font-weight: bold;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.floating-card span {
    color: var(--pink);
    margin-right: 5px;
}


/* =========================
   ABOUT
========================= */

.about {
    border-top: 1px solid var(--border);
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.about-text p {
    color: var(--gray);
    margin-bottom: 20px;
    font-size: 16px;
}

.about-text .primary-btn {
    margin-top: 15px;
}

.about-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.info-box {
    background: var(--dark);
    border: 1px solid var(--border);
    padding: 25px;
    border-radius: 12px;

    transition: 0.3s;
}

.info-box:hover {
    border-color: var(--pink);
    transform: translateY(-5px);
}

.info-box i {
    font-size: 25px;
    color: var(--pink);
    margin-bottom: 15px;
}

.info-box h3 {
    margin-bottom: 7px;
}

.info-box p {
    color: var(--gray);
    font-size: 13px;
}


/* =========================
   SKILLS
========================= */

.skills {
    border-top: 1px solid var(--border);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.skill-card {
    padding: 30px 20px;
    background: var(--dark);
    border: 1px solid var(--border);
    border-radius: 12px;

    transition: 0.3s;
}

.skill-card:hover {
    border-color: var(--pink);
    transform: translateY(-6px);
}

.skill-card i {
    font-size: 34px;
    color: var(--pink);
    margin-bottom: 18px;
}

.skill-card h3 {
    margin-bottom: 5px;
}

.skill-card p {
    color: var(--gray);
    font-size: 13px;
}


/* =========================
   PROJECTS
========================= */

.projects {
    border-top: 1px solid var(--border);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.project-card {
    background: var(--dark);
    border: 1px solid var(--border);
    border-radius: 15px;
    overflow: hidden;

    transition: 0.3s;
}

.project-card:hover {
    border-color: var(--pink);
    transform: translateY(-7px);
}

.project-image {
    height: 260px;
    position: relative;
    overflow: hidden;
    background: #252525;
}

.project-image img {
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.project-card:hover .project-image img {
    transform: scale(1.05);
}

.project-number {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 45px;
    height: 45px;

    display: grid;
    place-items: center;

    background: var(--pink);
    border-radius: 50%;

    font-weight: bold;
}

.project-info {
    padding: 28px;
}

.project-type {
    color: var(--pink);
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
}

.project-info h3 {
    font-size: 25px;
    margin: 8px 0;
}

.project-info > p:not(.project-type) {
    color: var(--gray);
    font-size: 14px;
    margin-bottom: 18px;
}

.tech-stack {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 23px;
}

.tech-stack span {
    background: #262626;
    border: 1px solid #3a3a3a;
    padding: 5px 10px;
    border-radius: 20px;

    font-size: 11px;
    color: #dddddd;
}

.project-links {
    display: flex;
    gap: 22px;
}

.project-links a {
    color: white;
    font-size: 13px;
    font-weight: bold;

    transition: 0.3s;
}

.project-links a:hover {
    color: var(--pink);
}

.project-links i {
    margin-left: 5px;
}


/* =========================
   CTA
========================= */

.cta {
    width: min(1180px, 90%);
    margin: 40px auto 0;

    padding: 65px;

    background: var(--pink);
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.cta p {
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cta h2 {
    font-size: clamp(28px, 4vw, 45px);
    line-height: 1.1;
}

.cta h2 span {
    color: #111;
}

.cta .primary-btn {
    background: #111;
    flex-shrink: 0;
}

.cta .primary-btn:hover {
    background: white;
    color: #111;
}


/* =========================
   CONTACT
========================= */

.contact {
    border-top: 1px solid var(--border);
    margin-top: 100px;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.contact-text h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.contact-text p {
    color: var(--gray);
    max-width: 500px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-details a {
    display: flex;
    align-items: center;
    gap: 18px;

    padding: 18px;

    background: var(--dark);
    border: 1px solid var(--border);
    border-radius: 10px;

    transition: 0.3s;
}

.contact-details a:hover {
    border-color: var(--pink);
    transform: translateX(5px);
}

.contact-details i {
    width: 45px;
    height: 45px;

    display: grid;
    place-items: center;

    border-radius: 50%;
    background: #262626;

    color: var(--pink);
}

.contact-details small {
    display: block;
    color: var(--gray);
    font-size: 11px;
}

.contact-details span {
    font-size: 14px;
}
 /*my resume*/
 .my-resume {
    display: flex;
    align-items: center;
    gap: 18px;

    padding: 18px;

    background: var(--dark);
    border: 1px solid var(--border);
    border-radius: 10px;

    transition: 0.3s;

/* =========================
   FOOTER
========================= */

footer {
    border-top: 1px solid var(--border);

    width: min(1180px, 90%);
    margin: auto;

    padding: 25px 0;

    display: flex;
    justify-content: space-between;

    color: var(--gray);
    font-size: 12px;
}

footer a {
    color: var(--pink);
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {

    .nav-links {
        gap: 15px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-top: 150px;
    }

    .hero-description {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-buttons,
    .social-links {
        justify-content: center;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content,
    .contact-content {
        grid-template-columns: 1fr;
        gap: 45px;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    .cta {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}


@media (max-width: 600px) {

    .navbar {
        min-height: 70px;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        padding: 9px 15px;
    }

    .hero {
        padding-top: 120px;
    }

    .hero h1 {
        letter-spacing: -2px;
    }

    .hero-image {
        width: 290px;
    }

    .image-circle {
        width: 270px;
        height: 270px;
    }

    .floating-card {
        right: -5px;
        bottom: 15px;
        font-size: 11px;
    }

    .section {
        padding: 80px 0;
    }

    .about-boxes {
        grid-template-columns: 1fr;
    }

    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }

    .project-image {
        height: 210px;
    }

    .project-info {
        padding: 22px;
    }

    .cta {
        padding: 40px 25px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }} 